body, html {
  padding: 0;
}

body {
<<<<<<< HEAD
  background-image: url('../assets/meme.png');
=======
  /*background-image: url('../assets/hypno.gif');*/
>>>>>>> origin/master
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: orangered;
}
