body, html {
  padding: 0;
}

body {
<<<<<<< HEAD
  background-color: orangered;
=======
  cursor: url('../assets/broom1.png'), pointer;
>>>>>>> origin/master
  background-image: url('../assets/meme.png');
  background-size: 100%;
  background-position: bottom center;
  background-attachment: fixed;
  background-repeat: no-repeat;
<<<<<<< HEAD
=======
  background-color: orangered;
  
>>>>>>> origin/master
}
