body, html {
  padding: 0;
}

body {
  cursor: url('../assets/broom1.png'), pointer;
  background-image: url('../assets/meme.png');
  background-size: 100%;
  background-position: bottom center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: orangered;
  
}
